$dark_font_color: #1d1920;
$light_font_color: #FFF;

$beige: #F8F8F8;
$loader_lightgrey: #E8E8E8;
$lightgrey: #999;
$loader_darkgrey: #4A4A4A;
$dark_purple: #29222F;
$graphite: #211C25;
$purple: #6E00FF;
$ultra-light-grey: #cecece;

$inner-width: 92%;