@import "../../../assets/scss/variables.module";
@import "../../../assets/scss/mixins.module";

.footer {
  height: 10vh;
  position: relative;
}

.inner {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.bottom_left, .bottom_right {
  font-size: 14px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.bottom_left {
  @include Avenir-Roman-XS(normal);
  color: $light_font_color;
  left: 0;
  @media (max-width: 480px) {
    @include Avenir-Roman-XXS(normal);
  }
}

.bottom_right {
  @include Avenir-Roman-XS(normal);
  color: #999;
  right: 0;
  @media (max-width: 480px) {
    @include Avenir-Roman-XXS(normal);
  }
}