#navbar {
  height: 100px;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 100;
  display: flex;
  color: white;
  justify-content: space-around;
  a {
    font-size: 35px;
    color: white;
    text-decoration: none;
  }
}